{% extends "projects/base.html" %}
{% block title %}Generate Picture Crossword{% endblock %}
{% block content %}
<h1>Generate picture crossword for {{ project.title }}</h1>
<p>This first version creates a static, reviewable crossword layout from words in this project that have picture-dictionary images.</p>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <button class="btn" type="submit">Generate</button>
</form>
<p><a class="btn secondary" href="{% url 'project-exercises-home' project.pk %}">Back to exercises</a></p>
{% endblock %}
